/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body {
    background-color: #f9f8eb;
}

h1 {
    text-align: center;
    font-family: font-family: 'Libre Franklin', sans-serif;
    font-family: 'Montserrat', sans-serif;;
}

p {
    color: #f9f8eb;
    font-style: italic;
}

img {
    border: 1em solid #ffe1b6;
    width: 20em;
    height: 20em;
}

header {
    background-color: #7a9eb1;
}

footer {
    background-color: #415865;
}

ul {
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Montserrat', sans-serif;
}